<div class="row-clearfix">
<%= form_for([@ranch, @ranch.tasks.build]) do |f| %>

  <%= f.text_field :content, placeholder: "New task", style: "width: 600px; border: solid 0.1px" %>

  <%= f.text_field :date, 'data-behaviour' => 'datepicker',style: "width: 100px; border: solid 0.1px"  %>

  <script type="text/javascript">
  $('[data-behaviour~=datepicker]').datepicker({
    autoclose: true
  });
</script>

  <%= f.submit%>
<% end %>
</div>

