<p><%= task.content %></p>
<%= link_to 'Destroy', ranch_task_path(@ranch, task.id), method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Done', done_ranch_task_path(@ranch, task.id), method: :patch %>
