<!-- page content -->
<div class="right_col" role="main">
  
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="height:700px; border-radius: 10px">
          <div class="x_title">
            <div id="tasks_wrapper">
             <div id="form">
              <%= render "tasks/form" %>
            </div>
          </div>
            <div class="clearfix"></div>
          </div>

          <h2>Today </h2>
          

          <div id="tasks_wrapper">
            <%= render "tasks/show"%>
          </div>

          <%= link_to 'Edit', edit_ranch_path(@ranch) %> 
          <%= link_to 'Back', ranches_path %>

      </div>
    </div>
  </div>
</div>
<!-- /page content -->

